.hero {
    height: 100vh;

    background: url('/images/bg/hero-bg.jpg') center/cover no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center ;

    padding: 0 40px;
    color: var(--color-text-light);

}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;
}

.small {
    font-family: var(--font-playfair);
    font-size: clamp(16px, 2vw, 24px);
    letter-spacing: 2px;
}

.big {
    font-family: var(--font-playfair);
    font-size: clamp(40px, 8vw, 96px);
}